spring:
  application:
    name: order-service
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  datasource:
    url: jdbc:h2:mem:orderdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  security:
    user:
      name: admin
      password: password

server:
  port: 8082
  servlet:
    context-path: /api/v1

logging:
  level:
    root: INFO
    com.ordermgmt.order: DEBUG
    org.springframework.security: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

external:
  product-service:
    url: http://localhost:9081/api/v1
